.demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 2% 4%;
    height: 100%;
  }

  .demo-infinite-container .list:hover {
    background-color: aliceblue;
  }  

  .demo-loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }