* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.App .main {
  width: 100%;
  height: 100vh;
}

.App .main .home {
  display: grid;
  place-items: center;
  height: 100%;
}